# Programação Orientada a Objetos (POO)
## Tema 7 – Bases de Dados Relacionais

### Material de Apoio – Breve Tutorial de SQL

Jaime A. Martins

(CEOT/ISE/UAlg - jamartins@ualg.pt)

Este tutorial apresenta alguns conceitos fundamentais da linguagem SQL (Structured Query Language).

### 1. Selecionar registos (`SELECT`)

Para selecionar registos (linhas) de uma tabela, use a instrução `SELECT`, seguida das colunas desejadas (`*` significa *todas*) e do nome da tabela:

``` sql
SELECT coluna1, coluna2 FROM nome_tabela;
SELECT * FROM nome_tabela;
```

### 2. Filtrar registos (`WHERE`)
Para filtrar os resultados de uma consulta, utilize a cláusula `WHERE`, seguida de uma condição:

``` sql
SELECT coluna1, coluna2 FROM nome_tabela WHERE condicao;
```

As condições podem ser baseadas em **operadores de comparação**, **operadores lógicos** e/ou **funções**.

##### 2.1. Operadores de comparação
* Igual (`=`)
* Diferente (`<>` ou `!=`)
* Maior que (`>`)
* Menor que (`<`)
* Maior ou igual a (`>=`)
* Menor ou igual a (`<=`)

*Exemplos de condições com operadores de comparação:*

``` sql
-- Selecionar produtos com preço unitário maior que 50
SELECT * FROM produtos WHERE preco_unitario > 50;

-- Selecionar produtos cujo stock é diferente de 10 unidades
SELECT * FROM produtos WHERE stock <> 10;
```

##### 2.2. Operadores lógicos

* `AND`: Todas as condições devem ser verdadeiras para que a linha seja incluída no resultado.
* `OR`: Pelo menos uma das condições deve ser verdadeira para que a linha seja incluída no resultado.
* `IN`: Simplifica múltiplas condições `OR` numa única condição.
* `NOT`: Inverte o resultado da condição.

*Exemplos de condições com operadores lógicos:*

``` sql
-- Selecionar produtos com preço unitário entre 10 e 50
SELECT * FROM produtos WHERE preco_unitario >= 10 AND preco_unitario <= 50;

-- Selecionar produtos com stock menor que 5 unidades ou maior que 100 unidades
SELECT * FROM produtos WHERE stock < 5 OR stock > 100;

-- Selecionar produtos que pertencem às categorias 1, 3 ou 5
SELECT * FROM produtos WHERE categoria_id IN (1, 3, 5);

-- Selecionar produtos que não têm stock igual a 10 unidades
SELECT * FROM produtos WHERE NOT (stock = 10);
```

##### 2.3. Condições usando funções

``` sql
-- Selecionar produtos cujo nome começa com a letra 'A'
SELECT * FROM produtos WHERE LEFT(nome, 1) = 'A';

-- Selecionar encomendas realizadas nos últimos 30 dias
SELECT * FROM encomendas WHERE data_encomenda >= DATE_SUB(CURDATE(), INTERVAL 30 DAY);
```

As condições `WHERE` podem ser combinadas de várias maneiras usando operadores lógicos e parêntesis para criar consultas mais complexas.

### 3. Ordenar registos (`ORDER BY`)
Para ordenar registos, use a cláusula `ORDER BY` seguida das colunas pelas quais ordenar e a ordem desejada (`ASC` para ascendente, `DESC` para descendente).

``` sql
SELECT coluna1, coluna2 FROM nome_tabela ORDER BY coluna1 ASC, coluna2 DESC;
```

### 4. Agrupar registos (`GROUP BY`)
Para agrupar resultados por uma ou mais colunas, use a cláusula `GROUP BY` seguida das colunas pelas quais agrupar.

``` sql
SELECT coluna1, COUNT(coluna2) FROM nome_tabela GROUP BY coluna1;
```

### 5. Juntar tabelas (`JOIN`)
Para juntar tabelas, use a cláusula `JOIN` seguida do tipo de junção (`INNER`, `LEFT`, `RIGHT`, `FULL`) e a condição de junção.

*Note-se a utilização de abreviaturas para os nomes das tabelas, para facilitar a escrita. A sintaxe é `tabela AS abreviatura` ou simplesmente `tabela abreviatura`.*

``` sql
SELECT t1.coluna1, t2.coluna2 FROM tabela1 t1 INNER JOIN tabela2 t2 ON t1.coluna_id = t2.coluna_id;
```

### 6. Inserir registos (`INSERT INTO`)
Para inserir registos numa tabela, use a cláusula `INSERT INTO`, seguida do nome da tabela e, entre parêntesis, os nomes das colunas nas quais deseja inserir dados. Em seguida, use a palavra `VALUES`, seguida dos valores a serem inseridos, entre parêntesis.

``` sql
INSERT INTO nome_tabela (coluna1, coluna2) VALUES (valor1, valor2);
```

### 7. Atualizar registos (`UPDATE`)
Para atualizar registos, use a cláusula `UPDATE`, seguida do nome da tabela e da palavra `SET`, seguida da coluna e do novo valor a atribuir. Utilize a cláusula `WHERE` para especificar a linha a ser atualizada.

``` sql
UPDATE nome_tabela SET coluna1 = valor1, coluna2 = valor2 WHERE condicao;
```

### 8. Eliminar registos (`DELETE FROM`)
Para eliminar registos de uma tabela, use a instrução `DELETE FROM`, seguida do nome da tabela e da cláusula `WHERE` com a condição que especifica a(s) linha(s) a ser(em) apagada(s).

``` sql
DELETE FROM nome_tabela WHERE condicao;
```

### 9. Calcular agregações (`SUM`, `AVG`, `MIN`, `MAX`)
Para calcular agregações, use funções como `SUM`, `AVG`, `MIN` ou `MAX`.

``` sql
SELECT SUM(coluna) FROM nome_tabela;
SELECT AVG(coluna) FROM nome_tabela;
SELECT MIN(coluna) FROM nome_tabela;
SELECT MAX(coluna) FROM nome_tabela;
SELECT MIN(coluna), MAX(coluna), AVG(coluna) FROM nome_tabela;
```

### 10. Operações com strings (`UPPER`, `CONCAT`, `LIKE`):
Para manipular strings, use funções como `UPPER` (converter em maiúsculas), `CONCAT` (concatenar strings) e o operador `LIKE` (para comparar strings com um padrão).

``` sql
SELECT UPPER(coluna), CONCAT(coluna1, coluna2) FROM nome_tabela WHERE coluna1 LIKE '%pattern%';
```

### 11. Contar registos (`COUNT`):
Para contar o número de registos numa tabela ou conjunto de registos filtrados, use a função `COUNT`.

``` sql
SELECT COUNT(coluna) FROM nome_tabela;
SELECT COUNT(coluna) FROM nome_tabela WHERE condicao;
```

### 12. Eliminar duplicados (`DISTINCT`):
Para eliminar registos duplicados nos resultados de uma consulta, use a palavra-chave `DISTINCT` antes das colunas selecionadas.

``` sql
SELECT DISTINCT coluna1 FROM nome_tabela;
```

### 13. Limitar resultados (`LIMIT`):
Para limitar o número de registos obtidos numa consulta, use a cláusula `LIMIT` seguida do número máximo de registos desejados.

``` sql
SELECT coluna1, coluna2 FROM nome_tabela LIMIT 10;
```

### 14. Filtrar resultados após agrupamento (`HAVING`):
Para filtrar resultados após agrupá-los com a cláusula `GROUP BY`, use a cláusula `HAVING` seguida de uma condição.

``` sql
SELECT coluna1, COUNT(coluna2) FROM nome_tabela GROUP BY coluna1 HAVING COUNT(coluna2) > 5;
```

### 15. Subconsultas (*Subqueries*):
As subconsultas são consultas SQL aninhadas dentro de outra consulta. Podem ser usadas para obter informações numa tabela com base em informações de outra tabela.

``` sql
SELECT coluna1, coluna2 FROM nome_tabela1 WHERE coluna1 IN (SELECT coluna1 FROM nome_tabela2 WHERE condition);

-- Selecionar produtos que foram encomendados
SELECT * FROM produtos WHERE produto_id IN (SELECT DISTINCT produto_id FROM detalhes_encomenda);
```